body {
	background-color: #32B16C;
}

.container {
	margin-bottom: 2em;
}

.form-group {
	font-size: 1em;
	letter-spacing: 0.4em;
	margin-bottom: 1.5em;
	font-family: sans-serif;
}

.form-control {
	font-size: 0.8em;
	letter-spacing: 0.4em;
}

.banner {
	margin-bottom: 1em;
}


/*
 * Plane Ticket 
 */
.plane-ticket {
	position: relative;
}

/* Large Info */
.large-info {
	position: absolute;
	font-size: 25px;
}
#ID-lg {
	top: 87%;
	left: 17%;
}
#ch-name-lg {
	top: ;
	left: ;
}
#en-name-lg {
	top: ;
	left: ;
}
#country-lg {
	top: ;
	left: ;
}
#room-lg {
	top: ;
	left: ;
}


/* Small Info */
.small-info {
	position: absolute;
	font-size: 20px;
}
#ID-sm {
	top: 87%;
	left: 78%;
}
#ch-name-sm {
	top: ;
	left: ;
}
#en-name-sm {
	top: ;
	left: ;
}
#country-sm {
	top: ;
	left: ;
}
#room-sm {
	top: ;
	left: ;
}

