body {
	background-color: #32B16C;
}

.container {
	margin-bottom: 2em;
}

.form-group {
	font-size: 1em;
	letter-spacing: 0.4em;
	margin-bottom: 1.5em;
	font-family: sans-serif;
}

.form-control {
	font-size: 0.8em;
	letter-spacing: 0.4em;
}

.banner {
	margin-bottom: 1em;
}


/*
 * Plane Ticket 
 */
.plane-ticket {
	position: relative;
}

/* Large Info */
.large-info {
	position: absolute;
	letter-spacing: 6px;
	font-size: 27px;
}
#ch-name-lg {
	top: ;
	left: ;
}
#en-name-lg {
	top: 76%;
	left: 15.5%;
}
#ID-lg {
	top: 87%;
	left: 15.5%;
}
#country-lg {
	top: 76%;
	left: 53%;
}
#room-lg {
	top: 87%;
	left: 53%;
}


/* Small Info */
.small-info {
	position: absolute;
	letter-spacing: 4px;
	font-size: 20px;
}
#ch-name-sm {
	top: ;
	left: ;
}
#en-name-sm {
	top: 65%;
	left: 78%;
}
#country-sm {
	top: 73%;
	left: 78%;
}
#room-sm {
	top: 81%;
	left: 78%;
}
#ID-sm {
	top: 89%;
	left: 78%;
}


@media screen and (max-width: 499px){
.large-info {
	letter-spacing: 0px;
	font-size: 10px;
}
.small-info {
	letter-spacing: 0px;
	font-size: 8px;
}
}


@media screen and (min-width: 500px) and (max-width: 800){
.large-info {
	letter-spacing: 4px;
	font-size: 14px;
}
.small-info {
	letter-spacing: 2px;
	font-size: 12px;
}
}
