body {
	background-color: #32B16C;
}

.container {
	margin-bottom: 2em;
}

.form-group {
	font-size: 1em;
	letter-spacing: 0.4em;
	margin-bottom: 1.5em;
	font-family: sans-serif;
}

.form-control {
	font-size: 0.8em;
	letter-spacing: 0.4em;
}

.banner {
	margin-bottom: 1em;
}


/*
 * Plane Ticket 
 */
.plane-ticket {
	position: relative;
}

/* Large Info */
.large-info {
	font-size: 20px;
}

/* Small Info */
.small-info {
	font-size: 16px;
}

