/* Strongholds */
#icon1 {  /* 天使的眼淚 */
	top: 35%;
	left: 65%;
}
#icon2 {  /* 神仙山莊 */
	top: 30%;
	left: 43%;
}
#icon3 {  /* 霍格華茲學院 */
	top: 77%;
	left: 33%;
}
#icon4 {  /* 布布恰恰 */
	top: 17%;
	left: 75%;
}
#icon5 {  /* 精靈的礦坑 */
	top: 17%;
	left: 65%;
}
#icon6 {  /* Brandon工坊 */
	top: 38%;
	left: 86%;
}
#icon7 {  /* 烈焰火山 */
	top: 42%;
	left: 52%;
}
#icon8 {  /* 迷幻森林 */
	top: 50%;
	left: 45%;
}
#icon9 {  /* 陽光田園 */
	top: 50%;
	left: 52%;
}
#icon10 {  /* Steven加工廠 */
	top: 35%;
	left: 65%;
}
#icon11 {  /* 統一二山 */
	top: 78%;
	left: 74%;
}
#icon12 {  /* 皮卡丘發電廠 */
	top: 30%;
	left: 54%;
}
#icon13 {  /* 德克斯特的實驗室 */
	top: 42%;
	left: 45%;
}
#icon14 {  /* 彩虹獅動物園 */
	top: 26%;
	left: 31%;
}
#icon15 {  /* 鍊金小木屋 */
	top: 26%;
	left: 35%;
}
#icon16 {  /* 千年神木 */
	top: 30%;
	left: 48%;
}
#icon17 {  /* 監獄 */
	top: 30%;
	left: 33%;
}